.idea
/gradle
settings.gradle
local.properties
gradle.properties
/build
gradlew
*.bat
*.log*
*.iml
*.patch
*.iws
*.ipr
*.ids
*jar
lib
classes
target
out
stacktrace.log*
*/plugins
*/overlays/
git-daemon-export-ok
